body{font-family:Arial,helvetica,sans-serif;}

div#principaldiv{background: rgb(25,27,46);padding-top: 60px;padding-left: 152px; padding-bottom:62px;}
.div_game{background: white;max-width: 500px;color: black;padding: 30px;margin-top: 10px}
.img{width: 300px;}
.info_game{padding: 5px;background: black;color: white;width: 290px;}

.pesquisabar{border-radius:10%; height:33px; width:350px; position:absolute; left:50px; top:172px;border: 0px solid white;
    font-size:25px; font-family: Verdana, Geneva, Tahoma, sans-serif;}
  
    .lupa{height:32px; width:30px; position:relative; left:13px; top:9px;}
  
  @media only screen and (max-width: 1794px){
        div#dentrodiv{height:150px;}
    span#cabecalho{color:white;margin-left:80px; font-family: Verdana, Geneva, Tahoma, sans-serif; position:relative;top:15px;}
    span#cabecalho2{color:white;margin-left:80px;font-family: Verdana, Geneva, Tahoma, sans-serif;position:relative;top:15px;}
    span#cabecalho3{color:white;margin-left:60px;font-family: Verdana, Geneva, Tahoma, sans-serif;position:relative;top:15px;}
    span#cabecalho4{color:white;margin-left:60px;font-family: Verdana, Geneva, Tahoma, sans-serif;position:relative;top:15px;}
        }
        @media only screen and (max-width:986px){
          span#cabecalhoinicial{margin-left:400px}
      }
      @media only screen and (max-width:826px){
        div#principaldiv{padding-left: 50px;}.img {width: 100%;} 
        .info_game {width: 100%;}
        
    }
    @media only screen and (max-width:652px){
       .div_game{margin-left: auto;margin-right: auto; width:80%;}
       div#principaldiv{padding-left:0px;}
    }
      @media only screen and (max-width:466px){
        .pesquisabar {width: 150px;} img#logo {margin-left: 7px;}
        span#cabecalhoinicial {margin-left: 174px;} .buttonlogin {width: 46px;}
  }
   span#cabecalho4 {margin-left: 21px;position: relative;}
  